{% extends 'main/main.html' %}

{% load static %}

{% block title %}
    <title>О проекте</title>
{% endblock title %}

{% block content %}

<div id="headerwrap_about">
    <div class="container2">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="about">
                    <h3>Тестовый проект:</h3>
                    <p>веб-сайт погоды в любом городе Мира.</p>
                    <ul class="about_set">При создании магазина использовались навыки владения:
                        <li>Python 3</li>
                        <li>Django</li>
                        <li>jQuery</li>
                        <li>Html</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                        <li>Git</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}