<footer>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="tesis">Тестовый проект для компании <span>:i</span>Tech<span>Art</span></p>
            </div>
            <div id="sprite" class="col-lg-6 col-lg-offset2"> 
                <i class="sprite sprite-github"></i>
                <i class="sprite sprite-itechart_mini"></i>
                <i class="sprite sprite-linkedin"></i>
                <i class="sprite sprite-python"></i>
            </div>
        </div>        
    </div>    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
</footer>