{% extends 'main/main.html' %}

{% load static %}

{% block title %}
    <title>Сайт актуальной погоды</title>
{% endblock title %}

{% block content %}

<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Погода на планете</h1>
                <h2>Интересно?</h2>
                <h3 class="subtitle">Введите город что бы узнать текущую погоду:</h2>
                    <div>

                            <input class="city-form" id = 'My_str'name='city' type="text" required placeholder="Город:">
                            <input type="submit"  id = 'butt'class="btn btn-success" value="Отправить">
                            
                    </div>
            </div>

            <div id = "output" class = "hold"></div>
            <script> 
                            var CITY;
                            var IntervalId = 0;
                            var i =  0;

                            $('#butt').click(function()
                            {   
                                CITY  = document.getElementById("My_str").value;
                                i = 0;
                                clearInterval(IntervalId);
                                show();
                                var timeInterval = 60000;
                                IntervalId = setInterval(show,timeInterval);
                            });
                               
                            function show()  
                            {      
                                $.ajax
                                ({
                                    type: 'POST',
                                    url: '/weather_info/',  
                                    cache: false, 
                                    data: {
                                            'city': CITY,
                                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                                          },
                                    success: function(responseData)
                                    {
                                        if(responseData.city == undefined)
                                        {
                                            clearInterval(IntervalId);
                                            $('#output').html("<h2>Такого города нет</h2>");
                                        }
                                        else
                                        {
                                            $('#output').html(
                                                '<h3> Город: <u>'+ responseData.city+'</u></h3> <h4> Температура: '+ responseData.temperature + '&#176;C;</h4><h4> Скорость ветра: '+ responseData.wind_speed+'м/с;</h4><h4> Влажность: '+ responseData.humidity +'%;</h4><h4> Давление: '+responseData.press + 'мм. рт. ст.</h4>' + i);
                                            i += 1;
                                        } 
                                    }                                   
                                });  
                                return false;
                            }  
            </script> 
                        
            <div class="col-lg-2 col-lg-offset8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                      </ol>  
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="static/bootstrap/img/sun.png" alt="">
                        </div>
                        <div class="item">
                            <img src="static/bootstrap/img/umbr.png" alt="">
                        </div>
                        <div class="item">
                            <img src="static/bootstrap/img/cloud.png" alt="">
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>

{% endblock content %}











