{% extends 'main/main.html' %}


{% block title %}
    <title>Погода в городе {{city}}</title>
{% endblock title %}

{% block content %}

<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Погода на планете</h1>
                <h2>Интересно?</h2>
                {% if {{ city }} %}
                <div class="hold">
                    <h3>Город: <u>{{ city }}</u></h3>
                    <h4>Температура: {{ temp }} &#176;C;</h4>
                    <h4>Скорость ветра: {{ wind_s }} м/с;</h4>
                    <h4>Влажность: {{ humidity }} %;</h4>
                    <h4>Давление: {{ press }} мм. рт. ст.</h4>
                </div>
                {% endif %}
                {% if {{ message }} %}
                <div class="hold">
                    <h3>{{ message }}</h3>
                </div>
                {% endif %}

            <div class="col-lg-2 col-lg-offset8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                      </ol>  
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="../static/bootstrap/img/sun.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../static/bootstrap/img/umbr.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../static/bootstrap/img/cloud.png" alt="">
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>

{% endblock content %}