{% extends 'main/main.html' %}

{% load static %}

{% block title %}
    <title>Сайт актуальной погоды</title>
{% endblock title %}

{% block content %}

                <div class="hold">
                    <h3>Город: <u>{{city}}</u></h3>
                    <h4>Температура: {{temp}} &#176;C;</h4>
                    <h4>Скорость ветра: {{wind_s}} м/с;</h4>
                    <h4>Влажность: {{humidity}} %;</h4>
                    <h4>Давление: {{press}} мм. рт. ст.</h4>
                </div>


{% endblock content %}